<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <!--<style>
        #getdiv {
        height: 20px;
        }
    </style>-->
</head>
<body>
<div id="getdiv">
    <h3 style="color: darkgray">获取数据</h3>
    <iframe src="/getxinwen" style="width: 25% " scrolling="no" frameborder="1"></iframe>
    <iframe src="/getweather" style="width: 25%" scrolling="no" frameborder="1"></iframe>
</div>
<div id="showdiv">
    <h3 style="color:darkgray">展示数据</h3>
    <iframe src="/showweather" style="width: 25%;height: 350px " scrolling="no" frameborder="1"></iframe>
</div>
</body>
</html>