<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zpark.dao.WeatherMapper">
    <!--++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
    <!--???????weather-->
    <!--????weather_weather?????5???-->
    <select id="selectWeather" resultType="com.zpark.model.JuHeModle">
       /* select name,sum(count) count from weather_weather group by name order by rand() limit 5;*/
       select name,sum(count) count from weather_weather group by name;
    </select>
    <!--????weather_feng-->
    <select id="selectFeng" resultType="com.zpark.model.JuHeModle">
        select name ,sum(count) count from weather_feng group by name;
    </select>
    <!--????weather_wendu-->
    <select id="selectWendu" resultType="com.zpark.model.JuHeModle">
        select name,sum(count) count from weather_wendu group by name
    </select>

</mapper>